@model MyTunes.Models.PlaylistSearchTrackViewModel
@using (Ajax.BeginForm("AddTrack", "Playlist", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "TracklistContainer",

}, new
{
    id = "AddTrackForm",
    @class = "form-horizontal",
    role = "form"
}))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m =>m.PlayListId)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                <h4 class="modal-title" id="officeFormLabel">@Model.FormTitle</h4>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.TrackName)
                    @Html.TextBoxFor(m=>m.TrackName,new {@class = "form-control"})
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
}
